*{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

span{
    font-size: 10px;
    font-weight: 700;
    color: green;
}

.text-description-card{
    font-size: 12px;
    color: rgb(99, 108, 116);
}
.author-card{
    font-size: 10px;
    font-weight: 700;
}
.intro-section{
    text-align: center;
    padding-top: 95px;
}
.page-description{
    font-size: 14px;
    color: rgb(81, 92, 102);
    margin-top: 25px;
}